.activity {
	padding: 1rem;
	border: 1px solid var(--tertiary-color);
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
	margin-bottom: 1rem;
}

.activity * {
	background-color: var(--secondary-color);
}