.routines {
	display: flex;
	flex-direction: column;
	color: var(--tertiary-color);
	padding: 1rem;
}

.routine {
	border: 1px solid var(--tertiary-color);
	color: var(--tertiary-color);
	margin-bottom: 1rem;
	background-color: var(--secondary-color);
}

.routine-header {
	padding: .5rem;
	background-color: var(--secondary-color);
}

.routine * {
	background-color: var(--secondary-color);
}

.routine .activity {
	border:none
}
