.authentication-container {
	display: flex;
	justify-content: center;
}

.authentication-form {
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	border: 1px solid var(--tertiary-color);
	width: 500px;
	height: 500px;
	border-radius: 10%;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
}

.authentication-form * {
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
}

.authentication-form > input {
	height: 40px;
}